@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}  
html{
    background-color: lightgrey;
}

.head{
    background-color: white;
    
}

img{
    padding: 1%;
    vertical-align: middle;
}

.title{
    vertical-align: middle;
    font-size: 2rem;
    font-weight: bold;
}

.container{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}

.box-top{
    margin-top: 30px;
    border-bottom: 1px solid lightgrey;
    padding: 20px 30px 0 30px;

}

.box-bottom{
    padding: 20px 30px 0 30px;
    
}

.button1, .button2{
    height: 5vh;
    text-align: center;
    border-radius: 20%;
    margin: 1%;
}

.button1{
    background-color: lightblue;
    width: 80px;
    font-family: sans-serif;
    color: white;
    border: 1px solid grey;
    margin-left: 5%;
}

.button2{
    background-color: white;
    width: 80px;
    font-family: sans-serif;
    color: grey;
    border: 1px solid grey;

}

h2{
    
    display: inline-block;
    margin: 3% 5%;
    font-size: 30px;
    
}

h2::before{
    content: '\25BE';
}

.sub{
    margin-left: 1%;
    
    display: inline-block;
    
}

#check{
    border: 1px solid green;
    background-color: white;
    margin-left: 6%;
    display: inline-block;
    width: 25px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: green;
}

.button3{
    background-color: lightblue;
    width: 80px;
    height: 30px;
    font-family: sans-serif;
    color: white;
    border: none;
    margin-left: 1%;
    border-radius: 25%;
    text-align: center;
}

#x{
    border: 1px solid red;
    background-color: white;
    margin-left: 6%;
    display: inline-block;
    width: 25px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: red;
}

.button-violet{
    background-color: violet;
    width: 80px;
    height: 30px;
    font-family: sans-serif;
    color: white;
    border: none;
    margin-left: 1%;
    border-radius: 25%;
    text-align: center;
}

.button-green{
    background-color: green;
    width: 80px;
    height: 30px;
    font-family: sans-serif;
    color: white;
    border: none;
    margin-left: 1%;
    border-radius: 25%;
    text-align: center;
}

.button-orange{
    background-color: orange;
    width: 80px;
    height: 30px;
    font-family: sans-serif;
    color: white;
    border: none;
    margin-left: 1%;
    border-radius: 25%;
    text-align: center;
}

.button-light-green{
    background-color: lightgreen;
    width: 80px;
    height: 30px;
    font-family: sans-serif;
    color: white;
    border: none;
    margin-left: 1%;
    border-radius: 25%;
    text-align: center;
}